@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 28px;
    font-weight: 600;
  }
  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 17px;
    font-weight: 600;
  }
  p {
    font-size: 16px;
  }
}

@layer components {
  /* Tombol Primary */
  .btn-primary {
    @apply items-center border-2 rounded-lg border-primary bg-primary px-5 py-2.5 text-[16] font-semibold text-white hover:bg-white hover:text-primary focus:outline-none focus:ring-4;
  }
  /* Tombol Secondary */
  .btn-secondary {
    @apply items-center border-2 rounded-lg border-primary bg-white px-5 py-2.5 text-[16] font-semibold text-primary hover:bg-primary hover:text-white focus:outline-none focus:ring-4;
  }
}

@layer base {
  section.hero {
    max-width: 100%;
  }
}
